body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../image/inspire.jpg");
  /* Full height */
  width: 100%;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  margin-bottom: 8px;
  margin-left: 16px;
  text-align: left;
}

/* Top left text */
.top-left {
  position: absolute;
  margin-top: 8px;
  margin-left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  z-index: 1;
  /*Bottom-left */
}

.bottom-left {
  position: absolute;
  left: 16px;
  bottom: 8px;
  z-index: 1;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  right: 16px;
  bottom: 8px;
  z-index: 1;
}

/* Centered text */
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

/*  Bottom centered text */
.bottom-center {
  position: absolute;
  bottom: 8px;
  left: 50%;
  z-index: 1;
}

.ct-outer {
  width: 100%;
  height: 100%;
}

.clock-look {
  font-size: 7rem;
  color: yellow;
  background-color: rgba(255, 255, 255, 0.9);
}
