body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("...");
  /* Full height */
  width: 100%;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.doofus {
  position: relative;
  z-index: 1;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  margin-bottom: 8px;
  margin-left: 16px;
  text-align: left;
}

/* Top left text */
.top-left {
  position: absolute;
  margin-top: 8px;
  margin-left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  z-index: 1;
  color: white;
  background-color: darkgreen;
  /*Bottom-left */
}

.bottom-left {
  position: absolute;
  left: 16px;
  bottom: 8px;
  font-size: 6px;
  z-index: 1;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  right: 30px;
  bottom: 50px;
  z-index: 2;
}

/* Centered text */
.pos-center {
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 1;
}

/*  Bottom centered text */
.bottom-center {
  position: absolute;
  bottom: 30px;
  left: 35%;
  width: 35%;
  z-index: 1;
  color: white;
  background-color: grey;
  opacity: .75;
}

.ct-outer {
  width: 100%;
  height: 100%;
}

.clock-look {
  font-size: 4rem;
  color: yellow;
  background-opacity: 0;
  text-align: center;
}

.greeting {
  color: cyan;
  font-size: 6rem;
}

.todoLook {
  background-color: grey;
  color: white;
}

.removeToDo {
  color: red;
}

.tooltip hover.tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 4px 0;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
}
